In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
cd Desktop

/Users/admin/Desktop

In [3]:
df=pd.read_csv('sonycameras.csv')
df

    Camera  Price  Imaging  Features  Size  Points
0    A6000    499       62        62    91      67
1    A6100    749       63        74    88      74
2    A6400    899       62        78    89      75
3    A6500   1199       64        73    87      73
4    A6600   1399       62        85    85      79
5       A7   1449       73        70    85      76
6     A7II   1699       74        79    80      80
7    A7III   1999       81        91    77      89
8    A7SII   3000       72        80    79      81
9   A7SIII   3495       71       100    75      90
10   A7RII   1298       87        80    79      87
11  A7RIII   2298       87        95    77      94
12   A7RIV   3499       93        98    76      99
13     A7C   1798       81        82    85      85

In [4]:
cameras = df.Camera.tolist()
prices=df.Price.tolist()
points = df.Points.tolist()

In [5]:
reg=linear_model.LinearRegression()

In [6]:
reg.fit(df[['Price','Imaging','Features','Size']],df.Points)

LinearRegression()

In [7]:
your_budget=int(input("Enter your budget : "))
imaging_cam=int(input("Imaging quality(out of 100) : "))
features_cam=int(input("Feature Score (out of 100) : "))
size_cam=int(input("Size score(out of 100) smaller cameras have greater score : "))

Enter your budget : 2400
Imaging quality(out of 100) : 80
Feature Score (out of 100) : 85
Size score(out of 100) smaller cameras have greater score : 75

In [10]:
def perfect_camera(lis,lis2, pred):
    arr=np.asarray(lis)
    ind=(np.abs(arr - pred)).argmin()
    if (prices[ind] <= your_budget):
        best_cam=lis2[ind]
        return best_cam
    else:
        s='No matches found'
        return s

In [11]:
pred=reg.predict([[your_budget,imaging_cam,features_cam,size_cam]])
perfect_camera(points,cameras,pred)

'A7RII'